{% extends "layout.html" %}
{% block body %}
<html lang="en">
  <body>
    <h2>Paste Text Here:</h2>
    <form action="/create" method="POST" name="Temp">
      <textarea class="submissionfield" type="text" name="text" placeholder="Insert here."></textarea>
      </br><button onclick="print">Submit Text</button>
    </form>
    <p>
    <hr>
    <p><h2>Upload File:</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
{% endblock %}
