{% extends "layout.html" %}
{% block body %}
  <html lang="en">
    <body>
      <p class="drop">
        WordCrunch is a tool that is used to process text data creating word clouds and frequencies
        from the text provided.  The world clouds are based on the word frequencies of
        the provided text.  There will be option to customize the word clouds based on 
        fonts, layouts, and colors.
      </p>
      <hr>
      <p>View some examples...</p>
      <table id="samples" style="width=100%;postion:relative">
        <tr valign="top">
        <td><a><img src="/static/English_notebook_cover.jpg">Notebook</a></td>
        <td><a><img src="/static/Period_G.jpg"></a>Classes</td>
        <td><a><img src="/static/US_Constitution.jpg"></a>Constitution</td>
        </tr>
      </table>

    </body>
  </html>
{% endblock %}