<!doctype html>
<title>Rating</title>
   <h1>Rate the Picture!</h1>
   <h2>Tag: {{ tag }} </h2>
   <h2>Current Layer: {{ layer }} </h2>
   <h2>Remaining: {{ left }} </h2>
{% if pic %}
   <a><img src= {{ pic }} height="500"></a>
{% else %}
   <h1>No Image</h1>
{% endif %}
   <br>
   <form action="/rate" method="POST">
      <input type="submit" name="rate" value="0" style="height:50px; width:50px">
      <input type="submit" name="rate" value="1" style="height:50px; width:50px">
      <input type="submit" name="rate" value="2" style="height:50px; width:50px">
   </form>
   <br>
   <form action="/results">
      <input type="submit" name="Done">
   </form>