<!doctype html>
<title>Hello!</title>
   <h1>Welcome!</h1>
   <form action="/insertTag" method="POST">
      <h2>Insert Tag:</h2>
      <input name="tag"><br><br>
      <h2>Insert Layers:</h2>
      <input name="layer"><br><br>
      <input type="submit" name="func" value="Random Expand" style="height:40px; width:120px">
      <input type="submit" name="func" value="Most Frequent" style="height:40px; width:120px">
      <input type="submit" name="func" value="Tag Included" style="height:40px; width:120px">
   </form>